/*padding and margin for the whole webpage*/
*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

/*styling for the webpage title section*/
.title{
    height: 100px;
    width: 740px;
    margin-left: 30%;
    text-align: center;
}

.title a{
    width: 100%;
    padding:20px;
    font-size: 36pt;
    text-decoration: none;
    color: white;
    display: block;
}

.title a:hover{
    color: black;
}

/*background colour for the page*/
.background{
    background-color: #a6cbbd;
}

/*style for the header_table div*/
.header_table{
    background-color: #7ab0b9;
    height: 50px;
    width: 100%;
    text-align: center;
}

/*styling for the unorderlist in the header_table class */
.header_table ul{
    list-style-type: none;
    line-height: 50px;

}

/*styling for the items inside the unorder list in 
header_table class*/
.header_table ul li{
    display: inline;
    padding-left: 200px;
    padding-right: 200px;
}

/* styling for the hyperlink in header_table class*/
.header_table ul li a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
}

/*changes colour of the text when hovering the hyperlink 
text in header_table class*/
.header_table a:hover{
    color:black;
}

/*css for the subtitle portion*/
.subtitle{
    color: white;
    font-size: 28pt;
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    text-decoration: underline;
}

/*style the about page box*/
.introbox{
    background-color: #9aaab3;
    border-radius: 10px 10px 10px 10px;
    height: 120px;
    width: 50%;
    
    padding-top: 20px;
    margin-left: 25%;
    margin-top: 10px;
}

/*style the text in the box*/
.introbox p{
    text-align: center;
    font-size: 16pt;
    color: white;
    padding-left:10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

/*style for the gray box holding the table*/
.tablebox{
    float:left;
    height: auto;
    width: auto;
    background-color:#9aaab3;
    margin: 50px;
    padding: 25px;
    color:white;
    border-radius: 10px 10px 10px 10px;
}

/*styling the caption in table*/
.tablebox caption{
    font-size: 22pt;
    text-align: center;
    text-decoration: underline;
    color:White;
    padding-bottom: 20px;
}

/*styling the table except for the caption*/
.tablebox table, th, tr, td{
    padding: 5px;
    border: 3px solid #7ab0b9;
    border-collapse: collapse;
    text-align: center;
    font-size: 14pt;
}

/*padding and setting the cells to not wrap*/
.tablebox th, tr, td{
    padding: 10px;
    white-space: nowrap;
}

/*Applying a "checker" background on the table*/
.tablebox tr:nth-child(even) td:nth-child(odd){
    background-color: #818f96;
}
.tablebox tr:nth-child(odd) td:nth-child(even){
    background-color: #818f96;
}
.tablebox th:nth-child(even){
    background-color: #818f96;
}

/*underline the heading of each column*/
.tablebox th{
    text-decoration: underline;
}

/*positioning and sizing the plane image*/
#planeimg{
    background-color: #9aaab3;
    border-radius: 10px 10px 10px 10px;
    margin-right: 75px;
    margin-top: 50px;
    padding: 20px;
    float: right;
    width: 400px;
    height: 300px;
}

.content_area{
    height: 550px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 12pt;
}
.content_title{
    font-size: 20pt; 
    text-decoration: underline;
    padding-top: 25px;
}

.col1{
    float: left;
    height: 450px;
    width:500px;
    background-color: #9aaab3;
    border-radius: 10px 10px 10px 10px;
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col2{
    float: left;
    height: 450px;
    width:500px;
    background-color: #9aaab3;
    border-radius: 10px 10px 10px 10px;
    margin: 50px;
}

.col3{
    float:left;
    height: 450px;
    width:500px;
    background-color: #9aaab3;
    border-radius: 10px 10px 10px 10px;
    margin: 50px;
}


.content_text p{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#larb{
    width: 250px;
    height: 200px;
}

#Wat_Phra_Kaew{
    width: 300px;
    height: 200px;
}

#Night_Market{
    width: 300px;
    height: 180px;
}
